[user]
	email = $email$
	name = "$name$"
[credential]
	helper = wincred
[core]
	autocrlf = true
	longpaths = true
	fsmonitor = true
[push]
	default = current
[alias]
	ls = log --format='%C(auto) %h %<(14)%aN %<(14)%C(cyan)%cd%C(auto) %s %d' --date=relative -20
	lbr = branch --sort=-committerdate
	sq = "!f() { \
		let a=$1-1; \
		c=$(git log --format='%h' HEAD~$a -1); \
		message=$(git log --format='%s' $c -1); \
		git reset --soft $c^; \
		git commit -m $\"$message\"; \
	}; f"
	cne = commit --amend --no-edit
	pf = push -f
	fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"